@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color-scheme: light only;
}

.values-section {
  background-image: url("/cargoShip.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.values-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.values-section > * {
  position: relative;
  z-index: 2;
}


@layer components {
  .notch {
    @apply hidden md:flex relative w-[25%] bg-white justify-center rounded-bl-[50px] rounded-br-[50px] z-[10] before:content-[''] before:absolute before:w-[50px] before:h-[50px] before:bg-transparent before:top-0 before:left-[-50px] before:rounded-tr-[50px] before:shadow-[15px_-15px_0_15px_#fff] after:content-[''] after:absolute after:w-[50px] after:h-[50px] after:bg-transparent after:top-0 after:right-[-50px] after:rounded-tl-[50px] after:shadow-[-15px_-15px_0_15px_#fff];
  }

  .max-container {
    max-width: 1440px;
  }
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-16 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply text-slate-gray text-lg leading-7;
  }
}

